[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
praw = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
pandas = "*"
psaw = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.12"
